---
import Hero from "../components/Hero.astro";
import IndexCard from "../components/AboutCard.astro";
import Technologies from "../components/Technologies.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import Tools from "../icons/Tools.astro";
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="container mx-auto max-w-[1024px] px-4">
		<Hero/>
		<section id="about" class="mt-14 md:px-8 lg:px-12 ">
			<h1 class="flex items-center gap-2 text-amber-50 text-2xl sm:text-3xl font-semibold">
				Sobre mi
			</h1>
			<IndexCard/>
		</section>
		<section id="technologies" class="mt-14 md:px-8 lg:px-12">
			<h1 class="flex items-center gap-2 text-amber-50 text-2xl sm:text-3xl font-semibold">
				Tecnologias y herramientas <Tools/>
			</h1>
			<Technologies/>
		</section>
		<footer id="contact" class="flex justify-center gap-3 w-full py-5">
			<a href="https://github.com/SebastianHernandez69">
				<Github class="w-7 h-7 fill-amber-50"/>
			</a>
			<a href="https://www.linkedin.com/in/sebastian-h-437849296/">
				<LinkedIn class="w-7 h-7 fill-amber-50"/>
			</a>
			<a href="mailto:sh4812681@gmail.com">
				<Mail class="w-7 h-7 fill-amber-50"/></Mail>
			</a>
		</footer>
	</main>
</Layout>
