---
import  Code from "../icons/Code.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro"
import { getCollection, type CollectionEntry } from 'astro:content';

type Project = CollectionEntry<'projects'> & {slug: string};

const projects: Project[] = await getCollection('projects') as Project[];

---
<Layout>
    <main class="container mx-auto px-4">
        <div class="h-14"></div>
        <section class="md:px-8 lg:px-12">
            <h1 class="flex items-center mb-6 gap-2 text-amber-50 text-2xl sm:text-3xl font-semibold">
                Proyectos <Code/>
            </h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {projects.map((project) => (
                    <ProjectCard 
                        nombre = {project.data.nombre} 
                        descripcion = {project.data.descripcion} 
                        tools = {project.data.tools} 
                        href = {project.slug}
                    />
                ))}
            </div>
        </section>
    </main>
</Layout>