---
import { getCollection } from "astro:content";

const projects = await getCollection('projects');
---
<div>
    {
        projects.map(project => (
            <h1>{project.data.descripcion}</h1>
        ))
    }
</div>
