---
import JavaScript from "../icons/tech/JavaScript.astro";
import MySql from "../icons/tech/MySql.astro";
import Nestjs from "../icons/tech/Nestjs.astro";
import Nextjs from "../icons/tech/Nextjs.astro";
import Nodejs from "../icons/tech/Nodejs.astro";
import Postgre from "../icons/tech/Postgre.astro";
import React from "../icons/tech/React.astro";
import SpringBoot from "../icons/tech/SpringBoot.astro";
import type { ProjectProps } from "../interfaces/interface"

const { nombre, descripcion, tools, href } = Astro.props as ProjectProps;

const iconTools = {
  Nestjs,
  Nextjs,
  Postgre,
  React,
  SpringBoot,
  MySql,
  JavaScript,
  Nodejs
}
---

<a
  class="group relative overflow-hidden w-auto h-90 rounded-3xl cursor-pointer text-2xl font-bold"
  style="background-color: #4C747B;"
  href = {`/projects/${href}`}
  >
  <div class="z-10 absolute w-full h-full peer"></div>
  <div
    class="absolute peer-hover:-top-20 peer-hover:-left-16 peer-hover:w-[140%] peer-hover:h-[140%] -top-32 -left-16 w-52 h-44 rounded-full transition-all duration-500"
    style="background-color: #2A253D;"
    >
  </div>
  <div
    class="absolute flex text-xl text-center items-end justify-end peer-hover:right-0 
    peer-hover:rounded-b-none peer-hover:bottom-0 peer-hover:items-center 
    peer-hover:justify-center peer-hover:w-full peer-hover:h-full -bottom-32 
    -right-16 w-full h-44 rounded-t-xl transition-all duration-500"
    style="background-color: #304F84;"
  >
    <div class="px-3 opacity-0 group-hover:opacity-100 ">
      <article class="text-amber-50 text-start text-sm w-full">
        {descripcion}
      </article>
      <div class="flex gap-2 mt-2">
        {tools.map((tool) => {
          const IconComponent = iconTools[tool as keyof typeof iconTools]; 
          return IconComponent ? <IconComponent class = "w-7 h-7"/> : null;
        })}
      </div>
    </div>
  </div>
  <div class="w-full h-full items-center justify-center flex uppercase">
    <p class="text-center text-amber-50">
      {nombre}
    </p>
  </div>
</a>
