---
import { STACK } from '../content/data/data'

const techClasses = "w-10 h-10 sm:w-13 sm:h-13s brightness-50 transition-all duration-300 hover:brightness-100";

---

<section class="grid grid-cols-2 md:grid-cols-3">
    
    {STACK.map(({ title, items }) => (
        <div class="flex flex-col my-6 w-full gap-4 px-3">
            <h1 class="text-center text-lg text-amber-50 font-semibold">{title}</h1>
            {items.map(({Icon, percentage}) => (
                <div class="flex items-center w-full gap-2">
                    <Icon class={techClasses} />
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                        <div class="bg-blue-600 h-2.5 rounded-full" style={{ width: `${percentage}%` }}></div>
                    </div>
                </div>
            ))}
        </div>
    ))}
    
</section>
